{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!--link rel="stylesheet" type="text/css" href ="{% static 'css/main.css' %}"-->
    <link rel="stylesheet" type="text/css" href="../../../static/css/main.css">
    <title>Bosukgyul 화상회의</title>
  </head>

  <body>
    Name: {{ username }}
    Teamname: {{ teamname }}
    AStatus : {{ audioStatus}}
    VStatus : {{ videoStatus }}

    <input type="hidden" id="Vstatus" value="{{videoStatus}}">
    <input type="hidden" id="Astatus" value="{{audioStatus}}">
    
    <p class="prj">2021학년도 2학기 융합캡스톤디자인 보석귤</p>
    <div class="team">
      <p> BOSUKGYUL </p>
    </div>

    <div class="wrapper">
      <div class="left">
        <!--div class="main-grid-container"-->
          <div id="video-container">
            <div>
              <video id="local-video" style="float:none;" autoplay playsinline></video>
            </div>
            <div style="margin: 20px 0px 20px 0px">
              <button id="btn-toggle-audio">Audio Mute</button>
              <button id="btn-toggle-video">Video off</button>
            </div>
          </div>
        </div> 
      </div>
  
      <div class="right">
        <div>
          <h3 id="label-username">Enter user name </h3>
          <input id="username"> <button id="btn-join"> Join Room </button>
        </div>
  
        <div id="label-container"></div>
        <div><img id="emoticon" src=""></div>
        <button id="emoticon-send">emojSend</button>
  
        <div id="chat">
          <h3> Chat </h3>
          <div id="messages">
              <ul id="message-list" style="list-style-type: none;"></ul>
          </div>
  
          <div>
            <input id ='msg'><button id='btn-send-msg'>Send</button><br><br>
          </div>
          <!-- <button id="btn-share-screen">Share Screen</button> -->
        </div>
      </div>
    </div>


    
    <!-- Optional JavaScript; choose one of the two! -->
    <script type="text/javascript" src = "{% static 'js/main.js' %}"></script>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <!-- ai model load -->
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.3.1/dist/tf.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@teachablemachine/image@0.8/dist/teachablemachine-image.min.js"></script>
    <script type="text/javascript" src = "{% static 'js/main_model.js' %}"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  </body>
</html>