@font-face {
    font-family: 'EliceDigitalBaeum_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/EliceDigitalBaeum_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RIDIBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.video-grid-container{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    background-color: black;
}

.main-grid-container{
    display:grid;
    grid-template-columns: 60% 20%;

}

video {
    border-radius:25%;
    background-color: rgb(29, 29, 29);
    margin: 10px 5px;
}

body{
    background-color: black;
    color:white;
}

* {
    box-sizing: border-box;
    font-family: 'RIDIBatang';
}

.prj{
    text-align: right;
}

.team{
    color:white;
    padding: 30px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 50px;
}

.wrapper{
    width: 100%;
}

.left{
    width: 70%;
    box-sizing: border-box;
    text-align: center;
    float: left;
}

.right{
    width: 30%;
    box-sizing: border-box;
    float: right;
    text-align: left;
}

#label-container{
    text-align: left;
    font-weight: bold;
    font-size: large;
}

#username{
    margin-bottom: 30px;
}

#chat{
    margin-top: 30px;
}

.RoomEnter{
    text-align: center;
}