@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

.video-grid-container{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    background-color: black;
}

.main-grid-container{
    display:grid;
    grid-template-columns: 60% 20%;

}

video {
    border-radius:25%;
    background-color: rgb(29, 29, 29);
    margin: 10px 5px;
}

body{
    background-image:url('img/universe_1.png');
    color:white;
}

* {
    box-sizing: border-box;
    font-family: 'Gowun Dodum', sans-serif;
}

.prj{
    text-align: right;
}

.team{
    color:white;
    padding: 30px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.column {
    float: left;
    padding: 10px;
    height : 300px;
}

.column.middle{
    width: 50%;
    text-align: center;
}

.column.side{
    width: 25%;
    text-align: center;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}


.RoomEnter{
    text-align: center;
}