/*@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');*/
@font-face {
    font-family: 'EliceDigitalBaeum_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/EliceDigitalBaeum_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RIDIBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    /*font-family: 'Gowun Dodum', sans-serif;
    font-family: 'EliceDigitalBaeum_Bold';*/
    font-family: 'RIDIBatang';
}

.ready_body{
    background-color:black;
    color: white;
}
.video-grid-container{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    background-color: black;
}

.main-grid-container{
    display:grid;
    /*grid-template-columns: 60% 20%;*/
    grid-template-columns: 90% 20%;

}

video {
    border-radius:25%;
    background-color: rgb(29, 29, 29);
    margin: 10px 5px;
}

.prj{
    height: 90px;
    line-height: 90px;
    padding: 10px;
    text-align: left;
    color: white;
    /*background-color:rgb(0, 103, 134);*/
    background-image:url(img/office.jpg);
    background-size: 1000px;
    background-repeat: repeat;
}



.btns{
    justify-content: left;
    margin: 30px;
}

#btn-join{
    margin: 10px;

}

#label-username{
    margin: 10px;
}

#label-teamname{
    margin: 10px;
}